body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* Spinner */
.spinner {
  font-size: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.fa-spinner {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header {
  top: 0;
}
.fixed-footer {
  bottom: 0;
}
.container {
  width: 80%;
  margin: auto;
  left: 50%;
  top: 50%;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
