<span class="fa fa-spinner spinner" *ngIf="loading"></span>

<div class="fixed-header">
  <div class="container">
    <nav>
      <a [routerLink]="['/']" href="javascript:void(0)">Home</a>
      <a [routerLink]="['/']" href="javascript:void(0)">Employees List</a>
      <a [routerLink]="['/', '0', 'edit']" href="javascript:void(0)"
        >Add Employee</a
      >
    </nav>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="fixed-footer">
  <div class="container">Manage Employees</div>
</div>
