<div class="container wrapper">
  <h2>{{pageTitle}}</h2>
  <form [formGroup]="empForm" *ngIf="empData" (ngSubmit)="onFormSubmit()">
    <div class="flex-table">
      <div class="row">
        <div class="col col-25">
          <label for="name">Name</label>
        </div>
        <div class="col col-75">
          <input type="text" id="name" name="name" formControlName="name" placeholder="Your name..">
          <p *ngIf="empForm.get('name').invalid && (empForm.get('name').dirty || empForm.get('name').touched)"
            class="alert-danger">Your entry is invalid</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <label for="compName">Company Name</label>
        </div>
        <div class="col col-75">
          <input type="text" id="compName" name="compName" formControlName="compName">
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <label for="emailId">Email Id</label>
        </div>
        <div class="col col-75">
          <input type="text" id="emailId" name="emailId" formControlName="emailId" placeholder="Your Email Id...">
          <p *ngIf="empForm.get('emailId').invalid && (empForm.get('emailId').dirty || empForm.get('emailId').touched)"
            class="alert-danger">Your entry is invalid</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <label for="contactNo">Contact No</label>
        </div>
        <div class="col col-75">
          <input type="text" id="contactNo" name="contactNo" formControlName="contactNo"
            placeholder="Your Contact No...">
          <p *ngIf="empForm.get('contactNo').invalid && (empForm.get('contactNo').dirty || empForm.get('contactNo').touched)"
            class="alert-danger">Your entry is invalid</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <label for="designation">Designation</label>
        </div>
        <div class="col col-75">
          <input type="text" id="designation" name="designation" formControlName="designation"
            placeholder="Your designation.">
          <p *ngIf="empForm.get('designation').invalid && (empForm.get('designation').dirty || empForm.get('designation').touched)"
            class="alert-danger">Your entry is invalid</p>
        </div>
      </div>
      <div class="row">
        <button type="submit" [disabled]="!empForm.valid || !empForm.dirty" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" [routerLink]="['/']">Cancel</button>
      </div>
    </div>
  </form>
</div>